
 body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(189, 255, 255);

 }
 
 .main {
  background-color: rgb(189, 255, 255);
  border: 1px soil rgb(189, 255, 255);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width:40%;
  height: 90vh;
}


.IMG_2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  border: 1px solid rgb(216, 216, 146);
  background-color: rgb(216, 216, 146);
  box-shadow: 25px 25px 20px rgba(0, 0, 0, 0.2);
  border-radius: 30px;

}


.BOX {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgb(232, 232, 206);
  ;


}


.BOX img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}


.BOX-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.BOX-content h3 {
  margin: 0;
  color: #333;
  font-size: 1.1rem;
}

.card-content span {
  color: #666;
  font-size: 0.9rem;
}

hr {
  border: none; 
  height: 1px; 
  background-color:rgb(232, 232, 206);
}